#access {
    -skrollr-animation-name:menu_animation;
}
@-skrollr-keyframes menu_animation {
    200 {
        opacity:1;
        top:0;
        position:relative;
    }

    400 {
        opacity:0.7;
        top: -70px;
        position:fixed;
    }
    500{
        opacity:1;
        top: 0;
        position:fixed;
    }
    600{
        opacity:0.3;
    }
}