.vcenter{
	position: relative;
	/*WebKit (Chrome & Safari)*/
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	/*Firefox*/
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	/*IE*/
	display: -ms-box;
	-ms-box-pack: center;
	-ms-box-align: center;
	/*Native CSS*/
	display: box;
	box-pack: center;
	box-align: center;
}