@font-face {
    font-family: 'veneer_cleanregular';
    src: url('../fonts/veneerclean-webfont.eot');
    src: url('../fonts/veneerclean-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/veneerclean-webfont.woff') format('woff'),
         url('../fonts/veneerclean-webfont.ttf') format('truetype'),
         url('../fonts/veneerclean-webfont.svg#veneer_cleanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fs_albertlight';
    src: url('../fonts/fs_albert-light-webfont.eot');
    src: url('../fonts/fs_albert-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fs_albert-light-webfont.woff') format('woff'),
         url('../fonts/fs_albert-light-webfont.ttf') format('truetype'),
         url('../fonts/fs_albert-light-webfont.svg#fs_albertlight') format('svg');
    font-weight: normal;
    font-style: normal;

}