/* CUSTOM */
#access-mobile{
	display: none;
	transition:all 0.2s linear;
	background: rgba(0,0,0,0.3);
	position: fixed;
	height: 50px;
	width: 100%;
	z-index: 9;
}
#access-mobile.active{
	background: #333;
	border-bottom: 1px solid #222;
}
#access-mobile.active ul{height: 300px;border-top:1px solid #555;}
#menu-navigator{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	transition:all 0.2s linear;
	height: 40px;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 5px;
	padding: 5px;
}
#menu-navigator:hover{background: #c24c4c;}
#menu-navigator:hover .icon-bar{background: #fff;}
#access-mobile .icon-bar{
	background: #999;
	width:30px;
	height: 4px;
	margin: 4px;
	display: block;
}
#access-mobile ul{
	height:0; 
	position: absolute; 
	overflow: hidden; 
	transition:all 0.2s linear;
	background: #333;
	width: 100%;
	padding: 0;
	top: 50px;
	text-align: center;
}
#access-mobile ul a{
	text-transform: uppercase;
	letter-spacing: 1px;
	color:#fff;
	font-size: 17px;
	display: block;
	transition:all 0.1s linear;
}
#access-mobile ul a:hover{
	background: #444;
	color:#c24c4c;
}

/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

}

@media (max-width:640px){
	#access{display: none;}
	#access-mobile{display:block;}
	#top-area p{font-size: 18px;}
	#features .feature{width:100%; border-bottom: 1px solid #ddd;padding: 20px 20px;}
	#features .feature p{text-align: center;}
}

