@import url("fonts.css");
@import url("fbase.css");

body{
	background-color: #eee;	
}
h1{font-family: "veneer_cleanregular";}
body, h2, #main .top h3{font-family: "fs_albertlight";	}
/* ============== needed classes =====*/
.center{
	text-align: center;
}
.error{
	color: #ff0000;
	font-size: 13px;
}
.success{
	color: #008000;
}
.yellow-ribbon{
	display: inline-block;
	border-top: 1px solid #ead8a4;
	border-bottom: 1px solid #ead8a4;
	background: #FEA;
	margin: 0 -19px 20px;
	color: #585b55;
	width: 107.10%;
	text-align: center;
	padding: 10px;
}

/* ======= bootstrap css modified ======= */

/* popover background  */
.popover-content{
	background: 
}


/* ============== MENU ========== */
#access{
	background: #333;
	padding: 10px;
	box-shadow: 0px 2px 20px #000;
	z-index: 2;
	position: relative;
	border-bottom: 1px solid #333;
	top: 0;
	width: 100%;
	transition:all 0.2s linear;
	z-index: 99;
}
#access:hover{
	opacity:1 !important;	
}
#access ul{
	margin: 0;
	padding: 0;
}
#access li{
	display: inline-block;
}
#access a{
	padding: 10px 15px;
	display: block;
	font-size: 18px;
	color: #fff;
	transition:all 0.2s linear;
}
#access a:hover{
	text-decoration: none;
	background-color: #c24c4c;

}
#access .left{ float: left; margin-left: -15px; }
#access .right{ float: right; }

/* ============== TOP AREA ========== */
#top-area{
	background:url(../images/top-area-bg.jpg);
	background-size: cover;
	text-align: center;
	height: 500px;
	z-index: 1;
	border-bottom: 1px inset rgba(255,255,255,0.6);
	box-shadow: 0 1px 10px #999;
	width: 100%;
}
#top-area .vcenter{
	width:200px;
}
#top-area h1{
	margin: 0;
	font-size: 95px;
}
#top-area p{
	background:#c24c4c;
	padding: 5px 10px;
	font-size: 24px;
	display: inline-block;
}
#top-area .btn{
	font-size: 18px;
	margin-top:50px;
	color: #ccc;
	background-color: rgba(0,0,0,0.50);
	text-transform: uppercase;
	padding: 15px 30px;	
	letter-spacing: 1px;
	font-weight: bold;
	transition:all 0.2s linear;
}
#top-area .btn:hover{
	background-color: rgba(0,0,0,0.90);
}

/* ============== FEATURES ========== */
#features{
	margin-top:30px;
	text-align: center;
}
#features h2{
	margin-bottom:40px;	
}
.feature{
	margin-bottom: 20px;
}
.feature img{
	height:80px;
}
.feature p{
	text-align: left;
}


/* ============== OUR TEAM ========== */
#our-team{
	background: #fff;
	text-align: center;
	padding: 15px 0 0;
}
#our-team img{
	max-width:959px;
	width:100%;
}

/* ============== PRICING ========== */
#pricing {
	text-align: center;
	background: #555;
	color: #fff;
	padding: 15px 0;
}
#pricing .table{ text-align: left; font-size: 1.1em; margin-top: 30px; background: #fff; color: #000; box-shadow: 0px 0px 35px -4px #000;}

/* ============== SUPPORT PAGE ========== */
#support_page{
	text-align: center;
	font-size: 16px;
	line-height: 1.6;
}
#support_page .row{
	margin-top:50px;
}
#support_page .row div{	
	padding-top: 20px;
	padding-bottom: 20px;	
	transition:all 0.5s linear;
}
#support_page .row .col-md-3 {
	margin-top: 30px;
}
#support_page .row .col-md-6{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f9f9f9;
	position: relative;
	z-index: 9;
}
#support_page .row .left{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background: #f5f5f5;
}
#support_page .row .right{
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #f5f5f5;
}
#support_page .row div:hover{
	background: #fefefe;
	box-shadow:0px 0px 100px -10px #aaa;
}
#contact-form label{width:20%;}
#contact-form .form-control{ width:70%; display:inline-block; font-size: 20px; padding-top: 10px;padding-bottom: 10px;height: auto;}

/* ============== SIGNUP ===========*/
.yellow-ribbon a{
	color: #202122;
}
#signup{
	text-align: center;
}
#signup .label-privacy{
	font-size: 14px;
}
#signup .form-div{
	width: 60%;
	margin: auto;
}
#signup .form-div-btn{
	width: 80%;
	margin: 20px auto;
}
#social_media .form-div{
	width: 60%;
	margin: auto;
}
#social_media .form-div-btn{
	width: 25%;
	margin: auto;
}
#browse-avatar p{
	font-size: 13px;
	width: 63%;
	margin: 12px auto;
}
.modal .yellow-ribbon .selected{
	text-decoration: underline;
}
.modal h2{
	text-align: center;
}
hr{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* ==== forgot password ====*/
.forgot-pass-wrapper h4{
	color: #6d6d6d;
}
.forgot-pass-wrapper .btn{
	height: 38px;
}
.hidden{
	display: none;
}
#avatar{
	z-index: 1500;
}
/* ============== reset password ==*/
#reset-password{
	text-align: center;
}
#reset-password .form-div{
	width: 60%;
	margin: auto;
}
.modal h4{
	text-align: left;
}
/* ============== FOOTER ========== */
#footer {
	padding-top: 50px;
}
#footer .container{
	border-top:1px dotted #ccc;
	height: 50px;
	line-height: 50px;
}

/* ============== Modal SIgn in ========== */
.modal{ font-size: 16px; }
.modal .close{
	font-family: "Helvetica","Arial";
	margin-top: -5px;
}
.modal .form-control{
	font-size: 18px;
	height:auto;
}
.modal-content{
	background-color:rgba(255,255,255,0.90);
}
#user_login {
	text-align: center;
}
#user_login .form-div{
	width:60%;
	margin: 18px auto;
}
#user_login input[type="submit"]{
	margin-bottom: 15px;
}

/* ============== Dashboard ========== */
#dashboard{
	margin-top:40px;
	font-size: 10pt;
	font-family: Arial;
	width:1010px;
	margin-left: auto;
	position: relative;
	margin-right: auto;
	min-height: 550px;
}
#avatar{margin-bottom: 10px;}
#sidebar{
	width:202px;
	float: left;
	text-align: center;
}
#sidebar .btn{
	width:100%;
}
#sidebar img{
	width: 192px;
	height: 192px;
}
#main{
	float: left;
	margin-left: 50px;
	padding-left: 50px;
	border-left: 1px dotted #ccc;
	width: 700px;
	position: relative;
}
#main .top h3{
	margin: 0;
	display: inline-block;
	font-size: 30px;
	vertical-align: middle;
}
#main .top .btn{margin-left: 50px;}
#main #project-lists{
	margin-top:30px;
	margin-left: 30px;
}
#main #project-lists ul{
	border-top:1px solid #ccc;
	border-bottom:1px solid #fff;
	padding: 0;
}
#main #project-lists li{
	list-style: none;

	border-top:1px solid #fff;	
	border-bottom: 1px solid #ccc;
}
#main #project-lists li a{
	padding: 10px;
	display: block;

}

/*================ STEP 1 =====================*/
.step{
	display: none;
}
.add-image{
	width:140px;
	height: 140px;
	font-size: 100px;
	line-height: 140px;
	font-weight: bold;
	color: #aaa;
	background: #eee;
	display: block;
	text-align: center;
}
.add-image:hover{text-decoration: none; color: #ccc;}
span.img-thumbnail{vertical-align: bottom;}
div.button{float: right;}


/* ============== post to social media effects =======*/
#social_media_sites{
	text-align: center;
	margin:40px 0;
}
.feature a:hover img{
	 opacity: 1;
	 height: 120px;
}
.feature a img{
	 opacity: 0.3;
	 transition:all 0.1s linear;
}


/*= =============== AJAX ==================*/
#img-loading{
	position: absolute;
	left: -35px;
	opacity:0;
	transition:all 0.2s linear;
}

#container{
	position: absolute; 
	left: 50px;
	width: 300px;
}

/* =============== Upload Avatar style input==================*/

.upload_form_cont {
    background: -moz-linear-gradient(#ffffff, #f2f2f2);
    background: -ms-linear-gradient(#ffffff, #f2f2f2);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(#ffffff, #f2f2f2);
    background: -o-linear-gradient(#ffffff, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2')";
    background: linear-gradient(#ffffff, #f2f2f2);

    color:#000;
    overflow:hidden;
}
#upload_form {
    float:left;
    padding:20px;
    width:700px;
}
#preview {
    background-color:#fff;
    display:block;
    float:right;
    width:200px;
}
#upload_form > div {
    margin-bottom:10px;
}
#speed,#remaining {
    float:left;
    width:100px;
}
#b_transfered {
    float:right;
    text-align:right;
}
.clear_both {
    clear:both;
}
input {
    border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;

    border:1px solid #ccc;
    font-size:14pt;
    padding:5px 10px;
}
input[type=button] {
    background: -moz-linear-gradient(#ffffff, #dfdfdf);
    background: -ms-linear-gradient(#ffffff, #dfdfdf);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
    background: -webkit-linear-gradient(#ffffff, #dfdfdf);
    background: -o-linear-gradient(#ffffff, #dfdfdf);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf')";
    background: linear-gradient(#ffffff, #dfdfdf);
}
#image_file {
    width:400px;
}
#progress_info {
    font-size:10pt;
}
#fileinfo,#error,#error2,#abort,#warnsize {
    color:#aaa;
    display:none;
    font-size:10pt;
    font-style:italic;
    margin-top:10px;
}
#progress {
    border:1px solid #ccc;
    display:none;
    float:left;
    height:14px;

    border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;

    background: -moz-linear-gradient(#66cc00, #4b9500);
    background: -ms-linear-gradient(#66cc00, #4b9500);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66cc00), color-stop(100%, #4b9500));
    background: -webkit-linear-gradient(#66cc00, #4b9500);
    background: -o-linear-gradient(#66cc00, #4b9500);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc00', endColorstr='#4b9500');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc00', endColorstr='#4b9500')";
    background: linear-gradient(#66cc00, #4b9500);
}
#progress_percent {
    float:right;
}
#upload_response {
    margin-top: 10px;
    padding: 20px;
    overflow: hidden;
    display: none;
    border: 1px solid #ccc;

    border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;

    box-shadow: 0 0 5px #ccc;
    background: -moz-linear-gradient(#bbb, #eee);
    background: -ms-linear-gradient(#bbb, #eee);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbb), color-stop(100%, #eee));
    background: -webkit-linear-gradient(#bbb, #eee);
    background: -o-linear-gradient(#bbb, #eee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb', endColorstr='#eee');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb', endColorstr='#eee')";
    background: linear-gradient(#bbb, #eee);
}

/* ========= email verification ============= */
#verify_email{
	width: 100%;
	margin: auto;
	padding: 24px;
	text-align: center;
	height: 500px;
	background: #fff;
}
#verify_email .container{
	width: 40%;
}
#verify_email .well{
	background: #E2E4DC;
	width: 100%;
	border-top: 1px solid #ccc;
	
	
}
#verify_email .email-verification{
	font-size: 18px;
	margin-top: 90px;
}
#verify_email h2{
	color: #008000;
	font-size: 50px;
}
 #verify_email a{
 	text-decoration: underline;
 	margin: 0 5px;
 }

 #verify_email .email-change{
 	/*background: #eee;*/
 	height: 45px;
	font-size: 16px;
 }
 #verify_email .form-div{
 	margin-bottom: 40px;
 }

 /* ======= personal infor page ==========*/
 #user-info{
 	width: 100%;
 	background: #FAFAFA;
 	margin: 0 auto;
 	padding: 15px;
 	text-align: center;
 }
 #user-info .form-control[type="text"],[type="email"]{
 	height: 40px;
 	font-size: 20px;
/* 	background: #EEE;*/
 }
 #user-info .container{
 	width: 100%;
 }
 #user-info label{
 	font-size: 16px;
 }
  #user-info .form-div{
 	width: 300px;
 	margin: auto;
 } 
 .container .personal-info {
 	width: 60%;
	margin: 5px auto;
	padding-left: 163px;
 }
 .container .social-info{
 	width: 60%;
 	margin: 25px auto;
 }

 #user-info .header{
 	margin-bottom: 55px;
 }
  #user-info .header{
 	width: 100%;
	height: 40px;
	text-align: center;
	padding: 1px;
 }
  #user-info .alert{
 	width: 74%;
 }
#user-info tbody{
	text-align: left;
}
 .social-info .alert-container{
 	width: 100%;
	margin: auto;
	padding-left: 163px;
 }
/* ========== social media accounts ==============*/

#main #social-wrapper{
	/*background: #FAFAFA;*/
	text-align: center;
	font-weight: bold;
	width: 124%;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.75);
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 0px solid #000000;
}
#main .small{
	width: 103%;
	/*background: #f4f4f4;*/
}
#main .large{
	width: 109%;
	/*background: #f4f4f4;*/
}
#main #add_social{
	margin-bottom: 11px;
	margin-top: -17px;
	cursor: pointer;
}
#main .btnDelete{
	position: relative;
	top: 9px;
	left: 7px;
	cursor: pointer;
}
#main thead{
	/*background: red;*/
}
#main .btn-submit-container{
	width: 40%;
	margin: auto;
}
#main h2{
	margin-bottom: 35px;
	position: relative;
	left: 216px;
	display: inline-block;
}
/* ========== edit social media =============*/
#social_media, #social_media h4{
	text-align: center;
}
#social_media .form-div{
	width:60%;
	margin: 18px auto;
}
#social_media .social-button{
	margin: 15px auto;
}
/* change avatar */
#form_avatar{
	text-align: center;
}
#form_avatar .modal-dialog
{
  width: 400px;/* your width */
}
